section.double-block-module{
  .double-block-inner{
    .double-block-container-wrapper{
      margin: 0 4.375em;
      padding: 4.375em 0;
      .double-block-inner{
        p{
          margin: $px30margin 0;
        }
      }
    }
    .double-block-left{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
